<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Garden Template</title>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>
    <!-- Navigation links placed at the top of the page -->
    <header>
        <nav>
            <ul>
                <li class="brand">
                    <img src="peter.jpg" alt="Planting Made Easy Logo" class="nav-logo">
                    <span class="name">Planting Made Easy</span>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="garden_form.html">Gardening Website</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="center-container">
            <div class="content-box">
              <h1>CUCUMBER</h1>
              <h2>Growth Duration:</h2>
              <p>Field-grown cucumbers mature in 55 to 60 days, while greenhouse varieties may take over 70 days.</p><br><br>
          
              <h2>Optimal Growing Seasons:</h2>
              <p>Plant when soil temperatures exceed 15°C. Cucumbers are sensitive to frost and grow best in warm conditions.</p><br><br>
          
              <h2>Water Requirements:</h2>
              <p>Cucumbers are heavy feeders, requiring 1 to 2 inches of water per week. Increase watering during flowering and fruiting stages.</p><br><br>
          
              <h2>Soil Requirements:</h2>
              <p>Fertile, well-drained soil with a pH of 6.5 to 7.5 is ideal. Add compost or aged manure to boost fertility.</p><br><br>
          
              <h2>Sunlight Needs:</h2>
              <p>Full sun exposure is essential for healthy growth and fruit development.</p><br><br>
          
              <h2>Temperature Tolerance:</h2>
              <p>Optimal growth occurs at 30°C during the day and 18°C to 20°C at night. Extreme heat may cause fruit deformities.</p>
          </p>
            </div>
        </div>
    </main>
</body>
</html>
