<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="Stylesheet" href="aboutUs.css">
            <title>About Us</title>
        </head>
        <body>
                <header>
                    <nav>
                        <ul>
                            <li class="brand">
                                <img src="peter.jpg" alt="Planting Made Easy Logo" class="nav-logo">
                                <span class="name">Planting Made Easy</span>
                            </li>
                            <li><a href="homepage.html">Home</a></li>
                            <li><a href="generalGardening.html">Gardening Guide</a></li>
                            <li><a href="plantspecific.html">Plant Guides</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </nav>
                </header>
                <div class="center-container">
                    <div class="content-box">
                        <main>
                            <h1>Who are we?</h1>
                                <p>GrowTech Collective is a group founded by TUT students who want to use their technological skills to help end food insecurity in their communities, and ultimately the world. We believe that innovation and collaboration can transform the way communities grow and share food. Our vision is to combine modern technology with sustainable practices to empower people, reduce hunger, and create opportunities for growth. Through teamwork, creativity, and dedication, we aim to inspire change and make a lasting impact on society and the environment.</p>
                                <h2>GrowTech Collective group members:</h2>
                                <ul>
                                    <li>Fundiswa Msibi</li>
                                    <li>Bryson Mabilo</li>
                                    <li>Ofentse</li>
                                    <li>Martin</li>
                                    <li>Lethokuhle Mfayela</li>
                                </ul>
                            <img src="/images/group.jpg" alt="group members" width="600">
                        </main>
                    </div>
                </div>
        </body>
    </html>
