<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About Us</a> |
        <a href="/garden">Garden Recommendation</a>
    </nav>
	
	<h1>Who are we?</h1>
    <p>This page lets you add more information about the group.</p>
	
	<!-- Your Group Members -->
	<h2>Your Group Members</h2>
	<p>
		"What what Tech" group members.
	</p> 
	<img src="/images/group.jpg" alt="group members" width="600">

	
</body>
</html>
