<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Garden Template</title>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>
    <!-- Navigation links placed at the top of the page -->
	 <header>
		<nav>
			<ul>
				<li class="brand">
							<img src="peter.jpg" alt="Planting Made Easy Logo" class="nav-logo">
							<span class="name">Planting Made Easy</span>
				</li>
				<li><a href="/">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="garden_form.html">Gardening Website</a></li>
			</ul>
		</nav>
	</header>
	<main>
         <div class="center-container">
         	<div class="content-box">
                <!--OFENTSE, DUPLICATE THIS PAGE FOR THE DIFFERENT FRUITS AND VEGETABLES. JUST USE H1 AND P1 FOR EVERYTHING-->
			</div>
		</div>
	</main>
</body>
</html>