<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="Stylesheet" href="aboutUs.css">
            <title>About Us</title>
            <link rel="icon" href="..\static\images\finalogo.png" type="image/png">
            <meta property="og:title" content="About us">
            <meta property="og:description" content="About the GrowTech-Collective Group">
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://bryson77.github.io/GrowTech-Collective/">
            <meta property="og:image" content="https://bryson77.github.io/GrowTech-Collective/resources/static/images/logo.png">
        </head>
        <body>
                <header>
                    <nav>
                        <ul>
                            <li class="brand">
                                <img src="..\static\images\finalogo.png" alt="Planting Made Easy Logo" class="nav-logo">
                                <span class="name">GrowTech Collective</span>
                            </li>
                            <li><a href="..\..\index.html">Home</a></li>
                            <li><a href="generalGardening.html">Gardening Guide</a></li>
                            <li><a href="plantspecific.html">Plant Guides</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </nav>
                </header>
                <div class="center-container">
                    <div class="content-box">
                        <main>
                            <h1>Who are we?</h1>
                            <img src="..\static\images\logo.png" alt="Our Logo" class="mainLogo">
                                <p>GrowTech Collective is a group founded by TUT students who want to use their technological skills to help end food insecurity in their communities, and ultimately the world. We believe that innovation and collaboration can transform the way communities grow and share food. Our vision is to combine modern technology with sustainable practices to empower people, reduce hunger, and create opportunities for growth. Through teamwork, creativity, and dedication, we aim to inspire change and make a lasting impact on society and the environment.</p>
                                <h2>GrowTech Collective group members:</h2>
                                <ul>
                                    <li>Fundiswa Msibi</li>
                                    <li>Bryson Mabilo</li>
                                    <li>Ofentse Kgaditse</li>
                                    <li>Buyelekhaya Nkumpuga</li>
                                    <li>Lethokuhle Mfayela</li>
                                    <li>Andile Nomgca</li>
                                </ul>
                                <p>Our website brings together research, practical guides, and interactive tools to help communities, schools, and households start and maintain their own food gardens. It includes detailed case studies, planting guides, soil and fertilizer advice tailored to South African conditions, and simple calculators to plan garden layouts efficiently. By providing accessible, locally relevant information, GrowTech Collective empowers users to improve food security, promote sustainable practices, and make informed decisions about growing fresh, nutritious food in their own spaces.</p>
                                <div class="contact-form-container">
                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfMdnwJlBF408P-1fMseou8lR9WX77QyfwpFC4sGSakNqQ1uw/viewform?embedded=true" width="640" height="760" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                                </div>
                            </main>
                    </div>
                </div>
        </body>
    </html>
