<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="Stylesheet" href="aboutUs.css">
             <script src="search.js" defer></script>
            <title>Plant Specific</title>
            <link rel="icon" href="..\static\images\finalogo.png" type="image/png">
        </head>
        <body>
                <header>
                    <nav>
                        <ul>
                            <li class="brand">
                                <img src="..\static\images\finalogo.png" alt="Our Logo" class="nav-logo">
                                <span class="name">GrowTech Collective</span>
                            </li>
                            <li><a href="..\..\index.html">Home</a></li>
                            <li><a href="generalGardening.html">Gardening Guide</a></li>
                            <li><a href="#">Plant Guides</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </nav>
                </header>
                <div class="center-container">
                    <div class="content-box">
                        <main>
                        <h1>Not all plants are the same, look up the one you want to plant!</h1>
                        <h2>Search Pages</h2>
                        <input type="text" id="searchBox" placeholder="Type to search...">
                        <ul id="results"></ul>
                        <p>We are working hard to add more plants! Thank you for your patience.</p>
                        <iframe
                                src="https://www.chatbase.co/chatbot-iframe/uy3rgp2TERhZa8OWQ6Tv_"
                                width="100%"
                                style="height: 100%; min-height: 700px"
                                frameborder="0"
                            ></iframe>
                        </main>
                    </div>
                </div>
        </body>
    </html>
